.geniblocks.change-sex-buttons.male-selected {
  background-image: url("../resources/images/change-sex-buttons.png");
  background-position: 0px 0px;
  width: 100px;
  height: 43px;
}
.geniblocks.change-sex-buttons.female-selected {
  background-image: url("../resources/images/change-sex-buttons.png");
  background-position: 0px 43px;
  width: 100px;
  height: 43px;
}

.geniblocks.chromosome-container {
  display: flex;
}
.geniblocks.chromosome-container .items {
  display: flex;
}
.geniblocks.chromosome-container .items .labels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 110px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: flex-start;
}
.geniblocks.chromosome-container .items .labels div {
  order: 0;
  flex: 0 1 40px;
  align-self: auto;
}
.geniblocks.chromosome-container .items .labels select {
  height: 20px;
}
.geniblocks.chromosome-container .items.rtl {
  flex-direction: row-reverse;
}
.geniblocks.chromosome-container .items.rtl .labels {
  align-items: flex-end;
}

.geniblocks.gamete-pool {
  position: relative;
  background-color: rgba(255,255,255,0.4);
  border: 1px solid #000;
  margin: 3px;
  padding: 2px;
}

.geniblocks.gamete {
  position: absolute;
  border: 1px;
  margin: 5px;
}
.geniblocks.gamete.selected {
  background-color: rgba(255,255,255,0.4);
}
.geniblocks.gamete.disabled {
  background-color: rgba(0,0,0,0.2);
}

.geniblocks.allele.noneditable span {
  font-size: 1em;
  font-family: Palatino;
  border: 1px solid #222;
  padding: 4px;
  background: #eee;
}

.geniblocks.genome-test .items {
  display: flex;
}
.geniblocks.genome-test .genome-test-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 10px;
}
.geniblocks.genome-test .genome-test-options .select-wrapper {
  flex: 0 1 40px;
}
.geniblocks.genome-test .genome-test-options select {
  order: 0;
  height: 20px;
}

.geniblocks.genome div {
  display: flex;
}
.geniblocks.genome div .geniblocks.chromosome-container {
  padding: 5px;
}

.geniblocks.organism .unknown-organism {
  font-size: 14em;
  font-family: Palatino;
}

.geniblocks.pen {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  border: 1px solid #000;
  margin: 3px;
  padding: 2px;
  height: 320px;
}

.geniblocks.stats {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  border: 1px solid #000;
  margin: 3px;
  padding: 2px;
  height: 320px;
}
