#mission-backdrop {
  background: url("./resources/images/lab_background.jpg") top center no-repeat;
  display: flex;
  justify-content: center;
  height: 100%;
}
#mission-wrapper {
  width: 1080px;
  margin: 90px auto;
  height: 880px;
  display: flex;
  justify-content: center;
}
.challenge-award {
  display: block;
  position: relative;
}
.challenge-award img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

/*
 * This file was originally a CSS file used for a standalone Case 1 example page.
 * When Cases 1, 3, and 5 were combined into a single application the bulk of
 * it was indented under #case-1 and left alone. There is plenty of opportunity
 * for more efficient use of Stylus and/or for better coordination between the
 * styles of the separate cases.
 */
#case-1 #playground-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#case-1 #challenges-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
#case-1 .column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#case-1 .column-label {
  margin-top: 125px;
  margin-bottom: 25px;
  color: #fff;
  font-size: 14pt;
  font-weight: bold;
}
#case-1 #center-column {
  width: 300px;
}
#case-1 #playground-wrapper #change-sex-buttons {
  margin: 160px 0 30px -100px;
}
#case-1 #change-sex-buttons {
  width: 100px;
  height: 43px;
}
#case-1 #change-sex-buttons.no-label {
  margin-left: 0;
}
#case-1 #drake-image {
  margin: 200px 25px 0;
}
#case-1 .drake-image {
  margin: 0 25px;
}
#case-1 .geniblocks.question-glow.question-mark {
  background: url("./resources/images/question_mark.png");
}
#case-1 #advance-button {
  background-color: #fff;
  margin: 180px 0 10px 0;
  padding: 2px 19px 3px 19px;
}
#case-1 #test-drake-button {
  background-color: #fff;
  margin: 30px 0 10px 0;
  padding: 2px 19px 3px 19px;
}
#case-1 .geniblocks.feedback-view {
  margin-top: 30px;
  width: 200px;
}
#case-1 .geniblocks.feedback.text-line {
  margin-top: 3px;
}
#case-1 .geniblocks.glow {
  position: absolute;
}
#case-1 .geniblocks.organism {
  position: absolute;
  top: 0px;
}
#case-1 #overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
#case-1 #alert-wrapper {
  display: none;
  z-index: 2;
  position: relative;
  width: 200px;
  background-color: #ddd;
  padding: 15px;
  box-shadow: 0px 0px 15px #c2c793;
}
#case-1 #alert-try-button {
  margin-top: 30px;
  float: left;
  width: 90px;
}
#case-1 #alert-ok-button {
  margin-top: 30px;
  float: right;
  width: 90px;
}

/*
 * This file was originally a CSS file used for a standalone Case 5 example page.
 * When Cases 1, 3, and 5 were combined into a single application the bulk of
 * it was indented under #case-1 and left alone. There is plenty of opportunity
 * for more efficient use of Stylus and/or for better coordination between the
 * styles of the separate cases.
 */
#case-5 .column-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
#case-5 .column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#case-5 .column-label {
  margin-top: 78px;
  margin-bottom: 25px;
  color: #fff;
  font-size: 14pt;
  font-weight: bold;
}
#case-5 .parent-drake {
  margin-top: -20px;
}
#case-5 .geniblocks.genome {
  margin-top: -20px;
}
#case-5 #father-genome-unknown {
  width: 334px;
  text-align: center;
  text-align: center;
  font-family: cursive;
  font-weight: bold;
  font-size: 14em;
  line-height: 1;
  color: #0d0d8c;
  text-shadow: -2px 1px #a6ab58, 0 2px #565408, 3px 0 #a8ab07, 0 -2px #656205;
}
#case-5 button {
  background-color: #fff;
  margin: 40px 0 10px 0;
  padding: 2px 19px 3px 19px;
}
#case-5 #breed-button {
  margin-top: 180px;
  height: 24px;
  width: 100px;
  background-color: #fff;
  border-radius: 10px;
}
#case-5 .tabs {
  margin-top: 50px;
}
#case-5 .tabs-menu-item a {
  font-weight: bold;
  color: #000;
}
#case-5 .tabs-menu-item.is-active a {
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
#case-5 .tab-panel {
  padding: 10px 0px;
}
#case-5 .geniblocks.pen {
  background-color: #936942;
}
#case-5 .geniblocks.stats {
  background-color: #fff;
}
#case-5 #stats-table {
  border-collapse: collapse;
}
#case-5 #stats-table.no-data {
  display: none;
}
#case-5 #stats-table th,
#case-5 td {
  border: 1px solid #999;
  padding: 2px;
}
#case-5 #stats-table .even-trait {
  background: #ddd;
}
#case-5 #stats-table .label {
  text-align: left;
}
#case-5 #stats-table .numeric {
  text-align: right;
}
#case-5 #overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
#case-5 #test-wrapper {
  display: none;
  z-index: 2;
  position: relative;
  top: -252px;
  background-color: #ddd;
  padding: 15px;
  box-shadow: 0px 0px 15px #c2c793;
}

/*
 * This file was originally a CSS file used for a standalone Case 3 example page.
 * When Cases 1, 3, and 5 were combined into a single application the bulk of
 * it was indented under #case-1 and left alone. There is plenty of opportunity
 * for more efficient use of Stylus and/or for better coordination between the
 * styles of the separate cases.
 */
#case-3 #challenges-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
#case-3 .column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#case-3 .column-label {
  margin-top: 78px;
  margin-bottom: 25px;
  color: #fff;
  font-size: 14pt;
  font-weight: bold;
}
#case-3 .parent-drake {
  margin-top: -20px;
}
#case-3 .geniblocks.genome {
  margin-top: -20px;
}
#case-3 .feedback-view {
  width: 200px;
}
#case-3 .geniblocks.feedback.text-line {
  margin-top: 3px;
}
#case-3 .geniblocks.allele.noneditable span {
  background-color: #aaa;
  font-family: sans-serif;
  font-size: 10pt;
  color: #fff;
  height: 14px;
}
#case-3 #target-drakes {
  display: flex;
  flex-direction: row;
  margin-left: -60px;
  margin-top: -20px;
}
#case-3 #breed-button-and-goal-feedback {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  align-items: center;
}
#case-3 #breed-button {
  margin-right: 20px;
  height: 24px;
  width: 100px;
  background-color: #fff;
  border-radius: 10px;
}
#case-3 #breeding-pen {
  margin-top: 30px;
}
#case-3 .tabs-menu-item a {
  font-weight: bold;
  color: #000;
}
#case-3 .tabs-menu-item.is-active a {
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
#case-3 .tab-panel {
  padding: 10px 0px;
}
#case-3 .geniblocks.pen {
  background-color: #936942;
}
#case-3 .geniblocks.stats {
  background-color: #fff;
}
#case-3 #stats-table {
  border-collapse: collapse;
}
#case-3 #stats-table.no-data {
  display: none;
}
#case-3 #stats-table th,
#case-3 td {
  border: 1px solid #999;
  padding: 2px;
}
#case-3 #stats-table .even-trait {
  background: #ddd;
}
#case-3 #stats-table .label {
  text-align: left;
}
#case-3 #stats-table .numeric {
  text-align: right;
}
#case-3 #overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
#case-3 #alert-wrapper {
  display: none;
  margin-top: -100px;
  z-index: 2;
  position: relative;
  width: 300px;
  background-color: #ddd;
  padding: 15px;
  box-shadow: 0px 0px 15px #c2c793;
}
#case-3 #alert-try-button {
  margin-top: 30px;
  float: left;
  width: 90px;
}
#case-3 #alert-ok-button {
  margin-top: 30px;
  float: right;
  width: 90px;
}

/*
 * The CSS below was patterned after the running Geniverse application.
 * There is plenty of opportunity for making better use of Stylus and other
 * potential improvements.
 */
@font-face {
  font-family: 'Rather Unfortunate';
/* woff generated from ttf using https://font-converter.net */
  src: url("./resources/fonts/RatherUnfortunate.woff") format('woff'), url("./resources/fonts/RatherUnfortunate.ttf") format('truetype'); /* Safari, Android, iOS */
}
.caselog-view {
  background: url("./resources/images/caselog-bg.jpg") center top no-repeat;
  height: 100%;
}
#caselog-wrap {
  position: absolute;
  top: 167px;
  left: 50%;
  margin-left: -528px;
  width: 1056px;
  height: 580px;
}
#caselog-book {
  position: absolute;
  bottom: 40px;
  right: 150px;
  top: 0;
  left: 50px;
}
#caselog-book #col1 {
  position: absolute;
  top: 0;
  left: 30px;
  width: 370px;
  bottom: 60px;
}
#caselog-book #col2 {
  position: absolute;
  top: 0;
  left: 480px;
  width: 350px;
  bottom: 60px;
}
#caselog-book #title {
  font-weight: normal;
  text-align: center;
  font-family: 'Rather Unfortunate', Verdana, sans-serif;
  line-height: 1.4;
  position: relative;
  padding-right: 130px;
  padding-left: 16px;
  cursor: default;
}
#caselog-book #title .title {
  font-size: 40px;
}
#caselog-book #title .section {
  font-size: 32px;
}
#caselog-book .case {
  position: relative;
  font-size: 12px;
  line-height: 1.4;
  cursor: pointer;
}
#caselog-book .case .title {
  font-weight: normal;
  font-size: 2em;
  font-family: 'Rather Unfortunate', Verdana, sans-serif;
  position: absolute;
  top: 5px;
  left: 63px;
  line-height: 1.1em;
  margin-top: 14px;
}
#caselog-book .case.case-disabled {
  opacity: 0.25;
  cursor: default;
}
#caselog-book .case.case0 {
  background: url("./resources/images/dragon_icon_red.png") top left no-repeat;
  height: 157px;
  margin-top: 40px;
}
#caselog-book .case.case1 {
  background: url("./resources/images/dragon_icon_blue.png") top left no-repeat;
  height: 157px;
}
#caselog-book .case.case2 {
  background: url("./resources/images/dragon_icon_yellow.png") top left no-repeat;
  height: 157px;
  margin-top: 8px;
  margin-left: -0.5px; /* to match up with rope */
}
#caselog-book .case.case3 {
  background: url("./resources/images/dragon_icon_green.png") top left no-repeat;
  height: 157px;
}
#caselog-book .case.case4 {
  background: url("./resources/images/dragon_icon_purple.png") top left no-repeat;
  height: 157px;
}
