.geniblocks.breed-button-area
  width: 1001px
  height: 142px
  margin-top: 45px
  display: flex
  flex-direction: row
  justify-content: center
  align-items: flex-start
  background-image: url('../resources/fablevision/layout-c/screen_eggsperm_box.png')

  .egg-image
    background: url('../resources/fablevision/layout-c/egg_combined_animation.png') left center
    width: 1476px
    height: 1080px
    animation: play 2s steps(25) normal;
    position: relative
    z-index: 2

  @keyframes play {
     100% { background-position: -36900px; }
  }

  .organism
    width: 200px
    height: 200px
    margin-left: -35px
    margin-top: -10px

  .offspring-buttons
    display: flex
    flex-direction: column
    justify-content: center
    height: 100%
    button
      margin: 3px
      padding: 4px
      width: 76px
